/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #252525;
}

.sticky {
  position: sticky;
  bottom: 50px;
}

/* https://willianjusten.com.br/menu-sticky-e-smooth-scroll-com-css-puro/ */
/* header {
  height: 10vh;
} */

nav {
  position: sticky;
  top: 0;
}

/* Menu do site */

.menu {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin:auto;
  background: #252525;
  padding: 10px 0;
  z-index: 2;
}

.menu-container {
  max-width: 960px;
  /* margin: cima direita baixo esquerda */
  margin: 0 auto;
}

.menu-container::after, .menu-container::before {
  content: '';
  display: table;
  clear: both;
}

.menu-logo {
  display: block;
  float: left;
  margin-left: 10px;
}

.menu-nav {
  float: right;
  margin-right: 10px;
}

.menu-nav li {
  display: inline-block;
}

.menu-nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  /* Para utilizar a unidade em basta pegar o tamanho do pixel
  que deseja e dividir pelo tamanho do pixel base do browser que é 16
  dessa forma se o pixel base for alterado o em leva isso em consideração
  assim temos 18/16 = 1.125 */
  font-size: 1.125em;
}

/* Main intro */
.intro {
  background: url('../img/bg-intro.jpg') no-repeat center center;
  background-size: cover;
  padding: 150px 0;
  text-align: center;
  color: #fff;
}

.intro h1 {
  text-transform: uppercase;
  font-size: 3em;
}

.intro h1::after {
  content: '';
  display: block;
  width: 20px;
  height: 4px;
  background: #fff;
  margin: 10px auto;
}

.intro p {
  font-style: italic;
  font-size: 1.125em;
}

/* Sobre */
.sobre {
  padding: 60px 0;
}

.sobre-container {
  max-width: 960px;
  margin: 0 auto;
}

.sobre-container::after, .sobre-container::before {
  content: '';
  display: table;
  clear: both;
}

.sobre h2 {
  text-align: center;
  font-size: 2.25em;
  margin-bottom: 60px;
}

.sobre-item {
  width: 460px;
  float: left;
  margin: 0 10px;
}

.sobre-item img {
  display: block;
  max-width: 100%;
}

.sobre-item h3 {
  font-size: 2.25em;
  background: #252525;
  width: 220px;
  color: #fff;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  line-height: 1em;
  padding: 5px 0 10px 0;
  top: -25px;
  position: relative;
}

.sobre > p {
  font-size: 1.25em;
  line-height: 1.4em;
  font-style: italic;
  text-align: center;
  margin: 20px auto;
  max-width: 460px;
}

/* Produtos */
.produtos {
  background: #e7e4d8;
  padding: 60px 0;
  border-top: 3px solid #d6d3c8;
  border-bottom: 3px solid #d6d3c8;
}

.produtos-container {
  max-width: 960px;
  margin: 0 auto;
}

.produtos-container::before, .produtos-container::after {
  content: '';
  display: table;
  clear: both;
}

.produtos-item {
  width: 300px;
  float: left;
  margin: 0 10px 20px 10px;
}

.produtos-item h2 {
  text-align: center;
  font-size: 2.25em;
  margin-bottom: 20px;
}

.produtos-item h2::before {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  background: currentColor;
  transform: rotate(-45deg);
  border-radius: 50%;
  border-top-right-radius: 0;
  margin: 20px auto;
  /* border: 5px solid #e7e4d8; */
  box-shadow: 3px 3px 10px 3px currentColor;
}

h2.produtos-paulista::before {
  color: #492901
}

h2.produtos-carioca::before {
  color: #c17139
}

h2.produtos-mineiro::before {
  color: #d7a54d
}

.produtos-item p {
  font-size: 0.875em;
  line-height: 1.4em;
}

.produtos-btn {
  width: 180px;
  border: 3px solid;
  color: #252525;
  text-decoration: none;
  display: block;
  font-size: 1.125em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0;
  margin: 20px auto 0 auto;
  transition: all 0.3s ease 0s;
  position: relative;
}

.produtos-btn::after {
  content: "";
  /* content: "\f2ed";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; */
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: scale3d(1.6, 1.4, 1);
  box-shadow: currentColor 0px 0px 0px 2px;
  border-radius: inherit;
  transition: all 0.35s cubic-bezier(0.75, 0, 0.125, 1) 0s;
  opacity: 0;
  visibility: hidden;
}

.produtos-btn:hover::after {
  opacity: 0.7;
  visibility: visible;
  transform: scale3d(1, 1, 1);
  /* background: #492901; */
}

/* Locais */
.locais {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}

.locais-item img {
  width: 460px;
  float: left;
  display: block;
  margin: 0 10px;
}

.locais-item {
  clear: both;
  margin: 60px auto;
  overflow: hidden; /* Outra forma de fazer um clearfix, mas essa forma tem limitações*/
}

/* Exemplo de clearfix, essa forma é mais eficiente */
/* .locais-item::after, .locais-item::before {
  display: table;
  content: '';
  clear: both;
} */

.locais-item > div {
  width: 460px;
  float: left;
  margin: 0 10px;
}

.locais-item h2 {
  font-size: 2.25em;
  margin-bottom: 20px;
}

.locais-item p {
  font-size: 1.125em;
  line-height: 1.4em;
  max-width: 320px;
  margin-bottom: 40px;
}

.locais-item a {
  font-size: 1.125em;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid;
  color: #252525;
  padding: 10px 20px;
  transition: all 0.3s ease 0s;
  position: relative;
}

.locais-item a::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: scale3d(1.6, 1.4, 1);
  box-shadow: currentColor 0px 0px 0px 2px;
  border-radius: inherit;
  transition: all 0.35s cubic-bezier(0.75, 0, 0.125, 1) 0s;
  opacity: 0;
  visibility: hidden;
}

.locais-item a:hover::after {
  opacity: 0.7;
  visibility: visible;
  transform: scale3d(1, 1, 1);
}

/* Newsletter */
.assine {
  background: #e7e4d8;
  padding: 30px 0;
}

.assine-container {
  max-width: 960px;
  margin: 0 auto;
}

.assine-container::after, .assine-container::before {
  content: '';
  display: table;
  clear: both;
}

.assine-info {
  width: 460px;
  margin: 0 10px;
  float: left;
}

.assine-info h2 {
  font-size: 2.25em;
}

.assine-info p {
  font-size: 1.5em;
  font-style: italic;
}

.assine form {
  width: 460px;
  margin: 10px 10px 0 10px;
  float: left;
}

.assine form label {
  display: none;
}

.assine input {
  width: 320px;
  border: 3px solid #252525;
  background: none;
  font-size: 1.5em;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
  float: left;  
  transition: all 0.3s ease 0s;
  position: relative;
}

.assine input::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: scale3d(1.6, 1.4, 1);
  box-shadow: #252525 0px 0px 0px 2px;
  border-radius: inherit;
  transition: all 0.35s cubic-bezier(0.75, 0, 0.125, 1) 0s;
  opacity: 0;
  visibility: hidden;
}

.assine input:hover::after {
  opacity: 0.7;
  visibility: visible;
  transform: scale3d(1, 1, 1);
}

.assine button {
  background: #252525;
  border: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-size: 1.5em;
  width: 140px;
  padding: 13px 0;
  color: #fff;
  cursor: pointer;  
  transition: all 0.3s ease 0s;
  position: relative;
}

.assine button::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: scale3d(1.2, 1.2, 1);
  box-shadow: #252525 0px 0px 0px 2px;
  border-radius: inherit;
  transition: all 0.35s cubic-bezier(0.75, 0, 0.125, 1) 0s;
  opacity: 0;
  visibility: hidden;
}

.assine button:hover::after {
  opacity: 0.7;
  visibility: visible;
  transform: scale3d(0.9, 0.9, 0.9);
}

/* Footer */
.footer {
  background: #d6d3c8;
  padding: 40px 0;
}

.footer-container {
  max-width: 960px;
  margin: 0 auto;
}

.footer-container::after, .footer-container::before {
  content: '';
  display: table;
  clear: both;
}

.footer p {
  float: left;
  margin: 0 10px;
  font-size: 1.125em;
  line-height: 1.4em;
}

.footer img {
  float: right;
  margin: 0 10px;
  display: block;
}

